body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  transition: background-color 2s linear;
  }
  
  button, #prompt-label, #purpose, #prompt, #copyBtn {
  font-family: sans-serif;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
  width: 90%;
  max-width: 500px;
  }
  
  button {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  }
  
  #prompt-label, #purpose {
  text-align: center;
  font-size: 20px;
  background-color: lightgray;
  padding: 10px;
  }
  
  #prompt {
  padding: 10px;
  background-color: lightgray;
  }
  
  #copyBtn {
  padding: 10px 20px;
  background-color: lightgray;
  border: none;
  }
  
  #copyBtn.success {
  background-color: green;
  color: white;
  }
  
  #copyBtn.success::after {
  content: "✔️";
  margin-left: 10px;
  }
  
  #title {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
  margin-bottom: 25px;
  }
  
  @media (max-width: 767px) {
  button, #prompt-label, #purpose, #prompt, #copyBtn {
  width: 100%;
  font-size: 14px;
  }
  #title {
    font-size: 24px;
}
}